<div class="flex counter-container fatigue">
  <div class="flexrow counter-label">
    <span>{{localize "SWADE.Fatigue"}}</span>
  </div>
  <div class="flexrow counter">
    <div class="counterbar {{#if (gt fatigue.value 0)}}active{{/if}}" data-value="1"><span>1</span></div>
    {{#if (gt fatigue.max 1)}}
    <div class="counterbar {{#if (gt fatigue.value 1)}}active{{/if}}"  data-value="{{#unless (gt fatigue.value 2)}}2{{else}}{{fatigue.value}}{{/unless}}"><span>{{#if (gt fatigue.value 2)}}{{min fatigue.max fatigue.value}}{{else}}2{{/if}}</span></div>
    {{/if}}
  </div>
</div>
<div class="flexrow counter incapacited">
  <div class="counterbar {{#if (incapacited fatigue wounds)}}active{{/if}}">
    {{#if (incapacited fatigue wounds)}}
    <span>{{localize "SWADE.Pulp.Inc"}}</span>
    {{/if}}
  </div>
</div>
<div class="flex3 counter-container wounds">
  <div class="flexrow counter-label">
    <span>{{localize "SWADE.Wounds"}}</span>
  </div>
  <div class="flexrow counter">
    {{#if (gt wounds.max 2)}}
    <div class="counterbar {{#if (gt wounds.value 2)}}active{{/if}}"  data-value="{{#unless (gt wounds.value 2)}}3{{else}}{{wounds.value}}{{/unless}}"><span>{{#if (gt wounds.value 2)}}{{min wounds.max wounds.value}}{{else}}3{{/if}}</span></div>
    {{/if}}
    {{#if (gt wounds.max 1)}}
    <div class="counterbar {{#if (gt wounds.value 1)}}active{{/if}}" data-value="2"><span>2</span></div>
    {{/if}}
    {{#if (gt wounds.max 0)}}
    <div class="counterbar {{#if (gt wounds.value 0)}}active{{/if}}" data-value="1"><span>1</span></div>
    {{/if}}
  </div>
</div>